# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/$PROJECT_FILE$
.idea
/compiler.xml
/inspectionProfiles/Project_Default.xml
/qaplug_profiles.xml
/vcs.xml
/misc.xml
/jarRepositories.xml
